<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="TripAdvisortest">
  <test name="Test">
  
    <parameter name="Browser" value="chrome"/>
  <parameter name="url" value="https://www.tripadvisor.in"/>
    <classes>
      <class name="com.tripa.qa.TestPages.SearchPage_Test"/>
    </classes>
  </test> 
</suite> 
